@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #3b256f;
}

h1, h2, h3, h4 {
  font-family: 'Bangers', cursive;
  letter-spacing: .1rem;
  text-shadow: 1px 2px 1px rgba(4,239,152,0.2)
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0,0,0,.5);
}

.modal > .content {
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
  min-width: 350px;
  max-width: 450px;
  min-height: 250px;
  max-height: 450px;
  margin: 50px auto 20px;
  padding: 1rem 1rem 2rem;
}

header {
  padding: 1rem;
  background: #3b256f;
  color: #04ef98;
  text-shadow: 2px 5px 2px rgba(50,0,0,0.6);
}

.playerlist {
  margin: 0 auto;
  width: 22rem
}

.playerlist > div {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: left;
  margin-bottom: 1rem;
}

.playerlist > div > * {
  margin-right: 1rem;
}

.playerlist > div > *:last-child {
  margin-right: 0;
}

.playerlist .player {
  padding-bottom: .3rem;
}

.playerlist img {
  border-radius: .5rem;
  box-shadow: 0 2px 3px rgba(59,37,11,0.5);
}

.playerlist .status {
  font-size: .7rem;
  background: #04ef98;
  padding: .1rem 0.2rem;
}

.playerlist .alias {
  background-color: #3b256f;
  padding: .4rem;
  font-size: 1.4rem;
  color: white;
  letter-spacing: .2rem;
  font-family: 'Bangers', cursive;
}

.setButton {
  display: inline-block;
}

button, .setButton > div {
  font-family: 'Bangers', cursive;
  padding: 1rem;
  margin: 1rem auto;
  background: #04ef98;
  color: #3b256f;
  cursor: pointer;
  letter-spacing: .1rem;
  border-radius: .5rem;
  border: solid 1px #07c7c4;
  box-shadow: 0 3px 6px rgba(59,37,11,.3);
  font-size: 1rem;
  min-width: 250px;
}

.setButton.not-checked > div {
  background: transparent;
  color: #3b256f;
  border: solid 1px #3b256f;
  box-shadow: none;
}

input[type=text] {
  border: solid 1px #07c7c4;
  box-shadow: 0 3px 6px rgba(59,37,11,.3);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 1rem;
  border-radius: .5rem;
}

input[type=text]:focus {
  border-color: #04ef98;
}

button, input[type=text] {
  min-width: 250px;
  max-width: 100%;
  display: inline-block;
}

button.small {
  min-width: auto;
}

button:hover {
  background: #09f39d;
}

#copyLink {
  margin-top: 6rem;
}

#copyLink p {
  margin: 0;
}
